django==3.2.18
firebase-admin
djangorestframework
python-decouple==3.3
django-cors-headers
mysqlclient
django-filter
django-colorfield
yfinance
django-environ
psycopg
psycopg-binary
psycopg-binary
apscheduler
django-cockroachdb==3.2.1
